:root{
    --smrt-nsl-color: #D42E12;
    --smrt-ewl-color: #009645;
    --smrt-nel-color: #9900AA;
    --smrt-ccl-color: #F9A01B;
    --smrt-dtl-color: #005EC4;
    --smrt-tel-color: #9D5B25;
    --smrt-jrl-color: #00ADBB;
    --smrt-crl-color: #93D500;
    --smrt-stl-color: #F266B5;
    --smrt-lrt-color: #708270;
    --smrt-rts-color: #87CEFA;
    --smrt-black: #2E2A26;
}

.smrt-nsl {
    background-color: #D42E12;
    color: white;
}

.smrt-ewl {
    background-color: #009645;
    color: white;
}

.smrt-nel {
    background-color: #9900AA;
    color: white;
}

.smrt-ccl {
    background-color: #F9A01B;
    color: #2E2A25;
}

.smrt-dtl {
    background-color: #005EC4;
    color: white;
}

.smrt-tel {
    background-color: #9D5B25;
    color: white;
}

.smrt-jrl {
    background-color: #00ADBB;
    color: white;
}

.smrt-crl {
    background-color: #93D500;
    color: #2E2A25;
}

.smrt-stl {
    background-color: #F266B5;
    color: white;
}

.smrt-lrt {
    background-color: #708270;
    color: white;
}

.smrt-default {
    background-color: #01474F;
    color: #FFD004;
}

.smrt-rts {
    background-color: #87CEFA;
    color: #2E2A25;
}
